doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet",type="text/css",href="bootstrap3.min.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="jquery-1.10.2.min.js")
    script(type="text/javascript",src="bootstrap3.min.js")
    script(type="text/javascript",src="index.js")
  body
    #timer ????
    #meta
      .meta-row
        span.label 暫停累計
        span#paused-time 00:00
      .meta-row#session-result
    a#min60.btn.btn-info.fbtn(onclick="adjust(-60)") -60
    a#min10.btn.btn-info.fbtn(onclick="adjust(-10)") -10
    a#toggle.btn.btn-primary(onclick="toggle()") RUN
    a#reset.btn.btn-warning(onclick="reset()") RESET
    a#hide.btn.btn-default(onclick="show()") &#xd60;
    a#add10.btn.btn-info.fbtn(onclick="adjust(10)") +10
    a#add60.btn.btn-info.fbtn(onclick="adjust(60)") +60
    a#def300.btn.btn-success.fbtn(onclick="adjust(0,300)") 5 min
    a#def1500.btn.btn-success.fbtn(onclick="adjust(0,1500)") 25 min
    a#def1800.btn.btn-success.fbtn(onclick="adjust(0,1800)") 30 min
    a#def2400.btn.btn-success.fbtn(onclick="adjust(0,2400)") 40 min
